#modx-container {
  background-image: linear-gradient(to right, #3f4850 0, #365462 46%, #3e5554 60%, #42554d 68%, #573d4e 100%); }

#modx-content,
.x-layout-split {
  background: #f2f2f2; }

.x-layout-split .x-layout-mini {
  left: 0;
  top: 48%; }

#modx-leftbar-tabs-xcollapsed .x-layout-mini {
  top: 48%; }

#modx-navbar {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

.menu-section > a {
  text-decoration: none;
  display: block; }
.menu-section + .menu-section {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }
.menu-section + .menu-section:not(.x-panel-collapsed) {
  border-top: 1px solid #1a7fb8; }
.menu-section > .x-panel-bwrap > .x-panel-body {
  border: 0 none;
  border-radius: 0;
  padding: 10px 0 0;
  background: #fff; }
.menu-section .x-panel-header {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  border: 0 none;
  border-radius: 0;
  color: #1a7fb8;
  background: #f2f2f2;
  text-align: right;
  border-left: 4px solid #1a7fb8; }
.menu-section .x-panel-header-text {
  line-height: 30px;
  margin: 0 5px; }
  .menu-section .x-panel-header-text > i.icon {
    display: inline-block !important;
    opacity: 1 !important;
    width: 20px;
    float: right;
    line-height: 2; }
.menu-section.x-panel-collapsed .x-panel-header {
  color: #fff;
  background: transparent;
  border-left: 4px solid transparent;
  text-align: left; }
  .menu-section.x-panel-collapsed .x-panel-header:hover, .menu-section.x-panel-collapsed .x-panel-header:focus {
    background: rgba(0, 0, 0, 0.2);
    border-left: 15px solid transparent; }
.menu-section.x-panel-collapsed .x-panel-header-text > i.icon {
  float: left; }
