/* Colors */
/*======================================================*/
/* Diagram */
/* A */
/* B - Text & More Below */
/* C - Text & More Below */
/* D */
/* E - Borders & More Below */
/* F 
	the tab active/text/bottom border is $tabBg	& $colorSplash
	Also uses:
	$tabInactiveText 
	$tabHoverText
*/
/* G */
/* H */
/*======================================================*/
/* structures */
/* backgrounds */
/* Tree menus  */
/* Top Nav */
/* Top navigation colors */
/* Sub navigation colors */
/* borders */
/* C - Left Bar Tabs */
/* text colors and font stacks */
/* line 4, ../sass/login.scss */
html {
  color: #020608;
  /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
  /* IE ignores this and renders Arial better */
  font-family: Arial, Tahoma, Helvetica, sans-serif;
  font-size: 100.01%;
  height: 100%;
  /* avoids obscure font-size bug */
  line-height: 1.5;
  width: 100%;
}

/* line 17, ../sass/login.scss */
body {
  background: #f2f2f2 url("../../default/images/restyle/manager-loginscreen-bg.png") center -90px repeat-x;
  font-size: 75%;
  /* 12px 62.5% for 10px*/
  height: 100%;
  width: 100%;
}

/* line 25, ../sass/login.scss */
.warning {
  color: red;
  font-weight: bold;
}

/* line 30, ../sass/login.scss */
.success {
  color: #93c14e;
  font-weight: bold;
}

/* line 35, ../sass/login.scss */
#container {
  margin: 70px auto 0;
  width: 460px;
}

/* line 40, ../sass/login.scss */
#modx-login-logo {
  margin-bottom: 3px;
}
/* line 42, ../sass/login.scss */
#modx-login-logo img {
  width: 180px;
}

/* line 47, ../sass/login.scss */
#modx-panel-login-div {
  border: 1px solid gainsboro;
}

/* line 51, ../sass/login.scss */
img.loginCaptcha {
  border: 1px solid #2b3948;
  height: 60px;
  width: 148px;
}

/* line 57, ../sass/login.scss */
.loginLicense {
  color: #555;
  font-size: 90%;
  margin: 0 auto;
  padding-left: 20px;
  width: 460px;
}

/* line 65, ../sass/login.scss */
#modx-login-form-panel {
  border: 1px solid #ddd;
}

/* line 69, ../sass/login.scss */
.x-panel-tl, .x-panel-tl .x-panel-header {
  border: 0;
  font-size: 14px;
  padding: 3px 5px;
}

/* line 75, ../sass/login.scss */
.x-panel-ml, .x-panel-mr, .x-panel-mc {
  background-color: transparent;
  border: 0;
}

/* line 80, ../sass/login.scss */
.login-form-bwrap {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: white;
  border-radius: 10px;
  color: #eee;
  padding: 5px;
}

/* line 89, ../sass/login.scss */
.login-form-bwrap-padding {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: black url("../../default/images/restyle/manager-loginscreen-form-bg.png") bottom left no-repeat;
  border-radius: 5px;
  padding-bottom: 10px;
}

/* line 97, ../sass/login.scss */
h2 {
  color: #eee;
}

/* line 101, ../sass/login.scss */
.x-panel-ml {
  border-top: 1px solid #e4e4e4;
  padding: 10px 20px 22px;
}

/* Fix styles because buttons are generated by extjs */
/* line 108, ../sass/login.scss */
.x-btn button {
  font-size: 12px;
  height: 28px !important;
  padding: 3px 10px 0 !important;
}
/* line 114, ../sass/login.scss */
.x-btn:hover {
  background: #dfdfdf;
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, white 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #dfdfdf 0%, white 100%);
  background: -o-linear-gradient(center bottom, #dfdfdf 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(center bottom, #dfdfdf 0%, white 100%);
  background: linear-gradient(center bottom, #dfdfdf 0%, #ffffff 100%);
  border: 1px solid #9caf78;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#dfdfdf,GradientType=0);
}
/* line 125, ../sass/login.scss */
.x-btn:hover button {
  color: #636F4C;
  text-shadow: 0 1px 0 #ffffff;
}
/* line 131, ../sass/login.scss */
.x-btn:active {
  -moz-box-shadow: 0 0 3px #aaaaaa inset;
  -o-box-shadow: 0 0 3px #aaaaaa inset;
  -webkit-box-shadow: 0 0 3px #aaaaaa inset;
  background-color: #ffffff;
  background-image: none;
  border-color: #CFCFCF #C0C0C0 #AAAAAA;
  box-shadow: 0 0 3px #aaaaaa inset;
  margin: 0 1px;
}

/* line 143, ../sass/login.scss */
.modx-forgot-login {
  float: left;
  padding-top: 4px;
}

/* line 148, ../sass/login.scss */
a {
  color: #bbb;
  text-decoration: none;
}
/* line 152, ../sass/login.scss */
a :hover {
  text-decoration: underline;
}

/* line 157, ../sass/login.scss */
#modx-login-email {
  width: 200px;
}

/* line 161, ../sass/login.scss */
#modx-panel-login-div {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: white;
  border-radius: 3px;
}

/* line 168, ../sass/login.scss */
label {
  cursor: pointer;
}

/* line 172, ../sass/login.scss */
.login-form-item {
  float: left;
  margin: 0;
}

/* line 177, ../sass/login.scss */
.login-form-item-first {
  margin-right: 8px;
}

/* line 181, ../sass/login.scss */
.login-form-element {
  padding: 0;
}
/* line 184, ../sass/login.scss */
.login-form-element .x-form-text {
  padding: 8px;
  width: 181px;
  background: #fff;
}

/* line 191, ../sass/login.scss */
.login-cb-row {
  padding: 9px 0 10px 0;
}

/* line 195, ../sass/login.scss */
.x-form-check-wrap .x-form-cb-label {
  color: #bbb;
}

/* line 199, ../sass/login.scss */
.login-cb-col {
  float: left;
  width: 50%;
}

/* line 204, ../sass/login.scss */
.modx-login-fl-link {
  cursor: pointer;
  height: auto !important;
  line-height: 18px;
  margin: 2px 0 0 2px;
  white-space: nowrap;
}

/* line 222, ../sass/login.scss */
.login-form-btn {
  -moz-border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  background: #eee;
  background: -moz-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: -o-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, gainsboro));
  background: -webkit-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: linear-gradient(center bottom, #dcdcdc 0%, #fcfcfc 100%);
  background: url("../../default/images/modx-theme/form/button-bg.png") repeat-x scroll 0 top gainsboro;
  border-radius: 3px;
  border: 2px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  color: #555;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#dcdcdc,GradientType=0);
  font: bold 13px arial, tahoma, helvetica, sans-serif;
  padding: 8px 18px;
}

/* line 244, ../sass/login.scss */
#modx-login-btn {
  float: right;
}
/* line 247, ../sass/login.scss */
#modx-login-btn:hover {
  background: #ddd;
}

/* line 251, ../sass/login.scss */
#modx-fl-btn {
  margin-left: 0;
}

/* line 254, ../sass/login.scss */
.x-panel-mr {
  padding-right: 0;
}

/* line 257, ../sass/login.scss */
.x-panel-mc {
  padding: 10px 0;
}

/* line 260, ../sass/login.scss */
#modx-login-language-select-div {
  bottom: 0;
  color: #888;
  left: 0;
  padding: 4px;
  position: absolute;
}

/* line 267, ../sass/login.scss */
#modx-login-language-select {
  background: #eee;
  border: 1px solid #aaa;
  position: relative;
}
