@charset "UTF-8";
//
// some color variables (darker to lighter)
//

$border: #2f4150;
$hover: #3e5268;
$action: #1a7fb8;
$bg: #f2f2f2;

//
// First, reset some default theme styles
//

// Full container as gradient (mimic top nav gradient)
#modx-container {
    background-image: linear-gradient(to right,#3f4850 0,#365462 46%,#3e5554 60%,#42554d 68%,#573d4e 100%);
}

// Content bg & split area "grey" (to fake "transparency")
#modx-content,
.x-layout-split {
    background: $bg;
}

// Split/collapsible area tweak
.x-layout-split {
    .x-layout-mini {
        left: 0;
        top: 48%;
    }
}
#modx-leftbar-tabs-xcollapsed {
    .x-layout-mini {
        top: 48%;
    }
}
// Remove shadow from top menu
#modx-navbar {
//    -webkit-box-shadow: none;
//    box-shadow: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}


//
// Real vertical nav stying
//

// Menu records (li)
.menu-section {
    //border-right: 0 none;

    & > a {
        // Header link
        text-decoration: none;
        display: block;
    }

    + .menu-section {
        //border-top: 1px solid $border;
        border-top: 1px solid rgba(0, 0, 0, .2);
    }

    + .menu-section:not(.x-panel-collapsed) {
        border-top: 1px solid $action;
    }

//    &.x-panel-collapsed {
//        border-right: 1px solid rgba(0, 0, 0, .2);
//        //border-right: 1px solid red;
//    }

    // Entry/menu content
    > .x-panel-bwrap > .x-panel-body {
        // Reset
        border: 0 none;
        border-radius: 0;
        // Give some space to the menu content
        padding: 10px 0;
        background: #fff;
    }

    // Expanded/"active" click-able header
    .x-panel-header {
        font-size: inherit;
        font-weight: inherit;
        padding: 0;
        border: 0 none;
        border-radius: 0;
        color: $action;
        background: $bg;
        text-align: right;
        border-left: 4px solid $action;

        //border-right: 0 none;
    }

    // Real header container
    .x-panel-header-text {
        line-height: 30px;
        margin: 0 5px;

        // FA icon
        &> i.icon {
            display: inline-block !important;
            //color: #fff;
            opacity: 1 !important;
            //background-color: rgba(0, 0, 0, .5) !important;
            width: 20px;
            float: right;
            // To make it vertically centered
            line-height: 2;
        }

        // Title label (text only)
        .title {}
    }

    // Collapsed header
    &.x-panel-collapsed {
        .x-panel-header {
            color: #fff;
            background: transparent;
            border-left: 4px solid transparent;
            text-align: left;

            //border-right: 1px solid rgba(0, 0, 0, .2);

            &:hover,
            &:focus {
                background: rgba(0, 0, 0, .2);
                border-left: 15px solid transparent;
            }
        }

        .x-panel-header-text {
            &> i.icon {
                float: left;
                //background-color: transparent !important;
            }
        }
    }
}
